/* ---------------------------- */
/* Custom properties            */
/* ---------------------------- */

:root {
  --clr-strong_blue: 188 77% 35%;
  --clr-light_blue: 179 31% 63%;
  --clr-brown: 19 9% 46%;
  --clr-salmon: 11 55% 79%;
  --clr-red: 350 61% 55%;
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;
}

/* ---------------------------- */
/* Reset                        */
/* ---------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set up body */

body {
  line-height: 1.5;
  min-width: 100vh;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------------- */
/* Utility classes              */
/* ---------------------------- */

/* --- General --- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  margin-inline: auto;
  padding-inline: 2em;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.box {
  background: lightblue;
  padding: 3rem;
}

/* --- Colors --- */

/* Background-color */
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-black {
  background-color: hsl(var(--clr-black));
}
.bg-strong_blue {
  background-color: hsl(var(--clr-strong_blue));
}
.bg-light_blue {
  background-color: hsl(var(--clr-light_blue));
}
.bg-brown {
  background-color: hsl(var(--clr-brown));
}
.bg-salmon {
  background-color: hsl(var(--clr-salmon));
}
.bg-red {
  background-color: hsl(var(--clr-red));
}

/* Text-color */
.text-white {
  color: hsl(var(--clr-white));
}
.text-black {
  color: hsl(var(--clr-black));
}
.text-strong_blue {
  color: hsl(var(--clr-strong_blue));
}
.text-light_blue {
  color: hsl(var(--clr-light_blue));
}
.text-brown {
  color: hsl(var(--clr-brown));
}
.text-salmon {
  color: hsl(var(--clr-salmon));
}
.text-red {
  color: hsl(var(--clr-red));
}
