/* ---------------------------- */
/* Custom properties            */
/* ---------------------------- */

:root {
  /* Colors */
  --clr-strong_blue: 188 77% 35%;
  --clr-light_blue: 179 31% 63%;
  --clr-brown: 19 9% 46%;
  --clr-salmon: 11 55% 79%;
  --clr-red: 350 61% 55%;
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  /* Font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-650: 2.75rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font-families */
  --ff-primary: 'Oswald', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;
  --ff-sans-cond: 'Roboto Condensed', sans-serif;
}

/* ---------------------------- */
/* Reset                        */
/* ---------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Reset font-weight */
body,
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

/* Set up body */
body {
  font-family: var(--ff-secondary);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-width: 100vh;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------------- */
/* Utility classes              */
/* ---------------------------- */

/* --- General --- */

.flex {
  display: flex;
  width: auto;
  gap: var(--gap, 1rem);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.justify-content-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/*
    ".flow > *:not(:first-child)" OR -> 
    ".flow > *:where(:not(:first-child))" OR ->
*/
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.container {
  margin-inline: auto;
  padding-inline: 2em;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.box {
  background: lightblue;
  padding: 3rem;
}

.text-center {
  text-align: center;
}

/* --- Colors --- */

/* Background-color */
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-black {
  background-color: hsl(var(--clr-black));
}
.bg-strong_blue {
  background-color: hsl(var(--clr-strong_blue));
}
.bg-light_blue {
  background-color: hsl(var(--clr-light_blue));
}
.bg-brown {
  background-color: hsl(var(--clr-brown));
}
.bg-salmon {
  background-color: hsl(var(--clr-salmon));
}
.bg-red {
  background-color: hsl(var(--clr-red));
}

/* Text-color */
.text-white {
  color: hsl(var(--clr-white));
}
.text-black {
  color: hsl(var(--clr-black));
}
.text-strong_blue {
  color: hsl(var(--clr-strong_blue));
}
.text-light_blue {
  color: hsl(var(--clr-light_blue));
}
.text-brown {
  color: hsl(var(--clr-brown));
}
.text-salmon {
  color: hsl(var(--clr-salmon));
}
.text-red {
  color: hsl(var(--clr-red));
}

/* --- Typography --- */

/* Font-family */
.ff-primary {
  font-family: var(--ff-primary);
}
.ff-secondary {
  font-family: var(--ff-secondary);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

/* Letter-spacing */
.letter-spacing-1 {
  letter-spacing: 2.7px;
}
.letter-spacing-2 {
  letter-spacing: 1.5px;
}
.letter-spacing-3 {
  letter-spacing: 1px;
}

/* Uppercase */
.uppercase {
  text-transform: uppercase;
}

/* Font-size */
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-650 {
  font-size: var(--fs-650);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

/* Font-weight */
.fw-semi_bold {
  font-weight: 600;
}
.fw-regular {
  font-weight: 400;
}
.fw-light {
  font-weight: 300;
}

/* Line-height */
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* Specific elements */

.numbered-title {
  font-family: var(--ff-primary);
  font-size: var(--fs-600);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.numbered-title span {
  font-weight: 600;
  color: hsl(var(--clr-strong_blue));
  margin-right: 0.5rem;
}

.title-hover-effect:hover,
.title-hover-effect:focus {
  text-shadow: -4px 4px 0px hsl(var(--clr-red) / 1);
}

/* ---------------------------- */
/* Components                   */
/* ---------------------------- */

/* Begining call-to-action button */
.cta {
  padding: var(--pad-top_down, 10px) var(--pad-left_right, 45px);
  text-decoration: none;
  transition: 1s;
  box-shadow: -6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta.cta-primary:hover {
  transition: 0.5s;
  box-shadow: -10px 10px 0 hsl(var(--clr-red));
}

.cta.cta-secondary:hover {
  transition: 0.5s;
  box-shadow: -10px 10px 0 hsl(var(--clr-strong_blue));
}

.cta span:nth-child(1) {
  margin-top: 5px;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin: -5px 0 -2px 0;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: calc(100% + 1.3em);
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta.cta-primary:hover path.three {
  animation: color_anim_primary 1s infinite 0.2s;
}

.cta.cta-primary:hover path.one {
  transform: translateX(0%);
  animation: color_anim_primary 1s infinite 0.6s;
}

.cta.cta-primary:hover path.two {
  transform: translateX(0%);
  animation: color_anim_primary 1s infinite 0.4s;
}

.cta.cta-secondary:hover path.three {
  animation: color_anim_secondary 1s infinite 0.2s;
}

.cta.cta-secondary:hover path.one {
  transform: translateX(0%);
  animation: color_anim_secondary 1s infinite 0.6s;
}

.cta.cta-secondary:hover path.two {
  transform: translateX(0%);
  animation: color_anim_secondary 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim_primary {
  0% {
    fill: white;
  }
  50% {
    fill: hsl(var(--clr-red));
  }
  100% {
    fill: white;
  }
}

@keyframes color_anim_secondary {
  0% {
    fill: white;
  }
  50% {
    fill: hsl(var(--clr-strong_blue));
  }
  100% {
    fill: white;
  }
}
/* Ending call-to-action button */

/* Begining navigation */
#menu nav i {
  margin: auto;
  padding-block: 2rem;
  width: 45px;
  font-size: var(--fs-650);
  color: hsl(var(--clr-strong_blue));
}

#menu nav i::after:hover,
#menu nav i::after:focus {
  text-shadow: -4px 4px 0px hsl(var(--clr-red) / 1);
}

#menu ul {
  padding-inline-start: 0;
}

#menu li {
  list-style-type: none;
}

#menu a {
  text-decoration: none;
}
/* Ending navigation */

/* Begining tabs elements */
.tabs button {
  border: none;
  margin: 0;
  padding: 1rem 2rem 1rem 1rem;
  -webkit-clip-path: polygon(0 1%, 70% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 1%, 70% 0%, 100% 100%, 0% 100%);
  background-color: hsl(var(--clr-white) / 0);
}

.tabs.light button {
  color: hsl(var(--clr-white));
}

.tabs button:not(:first-child),
.tabs button:not(:first-child) {
  margin-left: -5px;
}

.tabs button:hover:not(.active-tabs),
.tabs button:focus:not(.active-tabs) {
  color: hsl(var(--clr-white));
}

.tabs.secondary button:hover:not(.active-tabs),
.tabs.secondary button:focus:not(.active-tabs) {
  background-color: hsl(var(--clr-salmon));
}

.tabs.tertiary button:hover:not(.active-tabs),
.tabs.tertiary button:focus:not(.active-tabs) {
  background-color: hsl(var(--clr-brown) / 0.5);
}

.tabs.dark button:hover:not(.active-tabs),
.tabs.dark button:focus:not(.active-tabs) {
  background-color: hsl(var(--clr-black) / 0.5);
}

.tabs.light button:hover:not(.active-tabs),
.tabs.light button:focus:not(.active-tabs) {
  color: var(--clr-black);
  background-color: hsl(var(--clr-white) / 0.5);
}

.tabs.primary button:hover:not(.active-tabs),
.tabs.primary button:focus:not(.active-tabs) {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-light_blue));
}

.tabs button.active-tabs {
  color: hsl(var(--clr-white));
}

.tabs.primary button.active-tabs {
  background-color: hsl(var(--clr-strong_blue));
}

.tabs.secondary button.active-tabs {
  background-color: hsl(var(--clr-red));
}

.tabs.tertiary button.active-tabs {
  background-color: hsl(var(--clr-brown));
}

.tabs.dark button.active-tabs {
  background-color: hsl(var(--clr-black));
}

.tabs.light button.active-tabs {
  color: hsl(var(--clr-black));
  background-color: hsl(var(--clr-white));
}
/* Ending tabs elements */

/* Begening dots elements */
.dots div {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: hsl(var(--clr-light_blue) / 0.5);
}

.dots.dots-primary div {
  background-color: hsl(var(--clr-light_blue) / 0.5);
}

.dots.dots-primary div.active-dots {
  background-color: hsl(var(--clr-strong_blue));
  box-shadow: -4px 4px 0px hsl(var(--clr-red) / 1);
}

.dots.dots-primary div:hover:not(.active-dots) {
  box-shadow: -4px 4px 0px hsl(var(--clr-salmon) / 1);
}

.dots.dots-secondary div {
  background-color: hsl(var(--clr-salmon) / 0.5);
}

.dots.dots-secondary div.active-dots {
  background-color: hsl(var(--clr-red));
  box-shadow: -4px 4px 0px hsl(var(--clr-strong_blue));
}

.dots.dots-secondary div:hover:not(.active-dots) {
  box-shadow: -4px 4px 0px hsl(var(--clr-light_blue));
}

.dots.dots-tertiary div {
  background-color: hsl(var(--clr-brown) / 0.25);
}

.dots.dots-tertiary div.active-dots {
  background-color: hsl(var(--clr-brown));
  box-shadow: -4px 4px 0px hsl(var(--clr-black));
}

.dots.dots-tertiary div:hover:not(.active-dots) {
  box-shadow: -4px 4px 0px hsl(var(--clr-black) / 0.5);
}

.dots.dots-dark div {
  background-color: hsl(var(--clr-black) / 0.25);
}

.dots.dots-dark div.active-dots {
  background-color: hsl(var(--clr-black));
  box-shadow: -4px 4px 0px hsl(var(--clr-brown));
}

.dots.dots-dark div:hover:not(.active-dots) {
  box-shadow: -4px 4px 0px hsl(var(--clr-brown) / 0.7);
}

.dots.dots-light div {
  background-color: hsl(var(--clr-white) / 0.45);
}

.dots.dots-light div.active-dots {
  background-color: hsl(var(--clr-white));
  box-shadow: -4px 4px 0px hsl(var(--clr-white) / 0.75);
}

.dots.dots-light div:hover:not(.active-dots) {
  box-shadow: -4px 4px 0px hsl(var(--clr-white) / 0.65);
}
/* Ending dots elements */
